body, td, a, p, .h {
    font-family: arial,sans-serif;
}

html{
    margin: auto;
}

nav{
    padding: 20px 0px 0px 15px;
}

nav a{
    font-size: 13.5px;
    text-decoration: none; 
}

a{
    color: black;
}

.header-link{
    padding: 0px 10px 0px 10px;
}

#r-header{
    float: right;
}

#main-image {
    display: block;
    height: 92px;
    width: 272px;
    margin: auto;
}

#search{
    display: block;
    border-radius: 25px; 
    height: 39px;
    width: 470px;
    margin: 30px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #d1d1d1;

}

input:hover{
    box-shadow: 99px #d6d6d6;
}

main{
    position: absolute;
    top: 21%;
    width: 100%;

}

.search-buttons{
    text-align: center;
    margin: auto;
    
}

#search-button1, #search-button2{
    background-color: #f2f2f2;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    color: rgb(95, 95, 95);
    border-style: none;
    border-radius: 3px;
}

#search-button1{
    margin: 0px 5px 0px 0px;
}

#search-button2{
    margin: 0px 0px 0px 5px;
}

footer{
    position: absolute;
    background-color: #f2f2f2;
    padding: 15px 0px 15px 0px;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
}

#r-footer{
    float: right;
}

.footer-link{
 
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {

    #r-footer, #l-footer{
        text-align: center;
        width: 70%;
        margin: auto;
        float: none;
    }
    #r-footer{
    
    }
    #l-footer{
    padding: 0px 0px 25px 0px;
    }
  }