*{
    font-family: arial;
    
}

html{
    margin: auto;
}

nav{
    padding: 15px 0px 0px 0px;
}

nav a{
    font-size: 13.5px;
    text-decoration: none;

    
}

.header-link{
    padding: 0px 10px 0px 10px;
}

#r-header{
    float: right;
}

#main-image {
    display: block;
    height: 92px;
    width: 272px;
    margin: auto;
}

#search{
    display: block;
    margin: auto;
    border-radius: 25px; 
    height: 39px;
    width: 470px;
    margin: 30px auto;
    border-width: 1px;
    border-color: #f2f2f2;

}

input:hover{
    box-shadow: 99px #f2f2f2;
}

main{
    position: absolute;
    top: 21%;
    width: 100%;

}

.search-buttons{
    text-align: center;
    margin: auto;
    
}

#search-button1, #search-button2{
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    color: gray;
    border-style: none;
    border-radius: 3px;
}

#search-button1{
    margin: 0px 5px 0px 0px;
}

#search-button2{
    margin: 0px 0px 0px 5px;
}

footer{
    position: absolute;
    background-color: #f2f2f2;
    padding: 15px 0px 15px 0px;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
}

#r-footer{
    float: right;
}

.footer-link{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}